#modelfield {
    font-size: 14pt;
}

#footertext {
    font-size: 10pt;
    text-align: center;
    color: #ffffff;
}

#volunteer-info {
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
}